@media (min-width: 992px)
	.nav
		&__link
			&:hover
				color: $primary
				transition: 0.3s
				text-decoration: underline
			&:active 
				color: $secondary
				transition: 0.3s

	.button
		&-get
			&:hover
				border-color: $secondary
				color: $secondary
				transition: 0.3s
	
	.book
		&__button
			&__buy
				&-now
					&:hover
						background-color: $secondary
						color: $light
						transition: 0.3s
					&:active
						background-color: $primary
						color: $light
			&__view
				&-demo
					&:hover
						border: 2px solid $secondary
						color: $secondary
						transition: 0.3s
					&:active
						border-color: $primary
						background-color: $primary
						color: $light
						transition: 0.3s
				
	.recommendation
		&__item
			&:hover
				border-color: $primary
				transition: 0.3s

	.other-book
		&__button
			&:hover
				background-color: $primary
				transition: 0.3s

	.other-book
		&-more
			&:hover
				color: $secondary
				transition: 0.3s
			&:active
				color: $primary
				transition: 0.3s

	.top
		&__link
			&:hover
				color: $secondary
				transition: 0.3s
			&:active
				color: $primary
				transition: 0.3s
			

	.category
		&-button
			&:active
				box-shadow: none
			
	.category-button:hover .category-button__img
		fill: $primary
		transition: 0.3s

	.unreleased-button[aria-disabled="false"]:hover .unreleased-button__img
		stroke: $primary
		transition: 0.3s


	.blog
		&-other
			&__link
				&:hover
					color: $secondary
					transition: 0.3s
				&:active
					color: $placeholder
					transition: 0.3s
		&__link
			&:hover
				text-decoration: underline
				color: $primary
				transition: 0.3s

	.blog
		&__all
			&:hover
				color: $secondary
				border-color: $secondary
				transition: 0.3s
			&:active
				color: $primary
				border-color: $primary
				transition: 0.3s

	.subscribe
		&__button
			&:hover
				background-color: $primary
				transition: 0.3s
			&:active
				background-color: $yellow
				transition: 0.3s
	.footer
		&-info
			&__item
				&:hover
					text-decoration: underline
					color: $primary
					transition: 0.3s
		&-block
			&-icons
				&__icon
					&-hover
						&:hover
							fill: #090799b2
							stroke: #090799b2
							transition: 0.3s
	.modal
		&__button
			&:hover
				border-color: $primary
				color: $primary
	.error-404
		&__hover
			&:hover
				text-decoration: underline
		&__button
			&:hover
				border-color: $secondary
				color: $secondary
				transition: 0.3s
			&:active
				border-color: $placeholder
				color: $placeholder

@media (max-width: 1200px)
	.container
		max-width: 960px
		&-category
			max-width: 850px

	.book
		&__description
			max-width: 460px
		&__button
			&__view
				&-demo
					width: 209px

	.recommendation
		&__list
			width: 415px
		&__item
			width: 100%
			&:nth-child(n+4)
				display: none
			&:nth-child(n+3)
				margin-bottom: 0px

	.top
		&-wrapper
			width: 500px
		&__title
			max-width: 250px

	.other-book
		&-more
			&__button
				width: 200px

	.category
		&__title
			font-size: 18px
		&__section
			font-size: 13px
			max-height: 23px

	.unreleased
		&-slide
			margin-right: 48px
			&--last
				margin-right: 0px

	.story
		&-wrapper
			width: 900px

	.story
		&__video
			&-one
				width: 280px
		&__video
			&-two
				width: 280px
		&__video
			&-three
				width: 280px

	.blog
		&-wrapper
			grid-template-columns: 475px 1fr
			column-gap: 15px
		&-other
			&__info
				max-width: 180px
			&__img
				margin-right: 15px
		&__all
			margin-right: 35px

	.subscribe
		&__title
			font-size: 30px
		&__form
			width: 390px
	.footer
		&-info
			&__list
				margin-right: 40px
	.thenks
		&-wrapper
			margin-top: 100px
			margin-bottom: 150px
@media (max-width: 992px)
	.container
		max-width: 720px
		&-category
			max-width: 690px

	.book
		&-image
			width: 340px
			height: 480px
			&__img
				width: 200px
				height: 324px
		&__title
			max-width: 340px
			font-size: 32px
			line-height: 50px
			margin-bottom: 20px
		&__description
			max-width: 350px
			margin-bottom: 30px
			font-size: 16px
		&-buttons
			justify-content: space-between
		&__button
			width: 170px
			&__buy
				&-now
					margin-right: 0px

	.recommendation
		&__list
			width: 350px
	
	.top
		&-wrapper
			width: 350px
		&__title
			max-width: 170px

	.unreleased
		&-slide
			margin-right: 54px
			&--last
				margin-right: 0px
		
	.story
		&-wrapper
			width: 660px

	.story
		&__video
			&-one
				width: 315px
		&__video
			&-two
				width: 315px
	
	.video
		&-three
			display: none

	.blog
		&-wrapper
			grid-template-columns: 375px 1fr
			column-gap: 15px
		&__all
			justify-self: center
			margin-right: 0px
		&-main
			&__img
				height: 270px
				margin-bottom: 35px
			&__description
				max-height: 120px
		&-other
			&__item
				flex-direction: column
				align-items: center
				margin-bottom: 20px
				height: 250px
				&:last-child
					margin-bottom: 0px
					display: none
				&:nth-child(2)
					margin-bottom: 0px
			&__img
				width: 250px
				height: 150px
				margin-right: 0px
			&__info
				max-width: 250px
			&__text, &__date, &__link
				text-align: left
			&__list
				height: 100%  

	.subscribe
		&-wrapper
			padding-left: 30px
			padding-right: 30px
		&__title
			font-size: 25px
			line-height: 36px
		&__form
			width: 390px
		&__button
			width: 130px
	.footer
		position: relative
		padding-bottom: 180px
		&__footer
			display: none
		&-info
			&__company
				position: absolute
				right: 50%
				bottom: 0
				transform: translateX(50%)
				display: flex
				flex-direction: column
				align-items: center
				margin-right: 0
			&__item
				font-size: 14px
				margin-bottom: 18px
			&__list
				margin-right: 80px
		&__icon
		margin-bottom: 30px
@media (max-width: 767px)
	.container
		max-width: 568px
		width: 92%

	.header
		padding: 18px 0px
		&--fixed
			position: fixed
			background-color: $light
			left: 0
			top: 0
			right: 0
			z-index: 999

	.nav
		&--mobile
			&--hidden
				display: none
		
	.menu
		&-button
			&--mobile
				&--hidden
					display: flex
					width: 22px
					height: 18px
					padding: 0
					align-items: center
					justify-content: space-between
					flex-direction: column
					border: none
					background-color: transparent
					cursor: pointer
			&__line
				width: 100%
				height: 2px
				background-color: $secondary
				
	.nav
		&__mobile
			&--visible
				display: flex
				position: fixed
				top: 64px
				right: 0
				left: 0
				bottom: 0
				flex-direction: column
				align-items: center
				background-color: #fafafa     
		&__list
			flex-direction: column
			margin-top: 30px
		&__item
			margin-bottom: 40px
			margin-right: 0
		&__link
			font-size: 26px

	.button
		&-get
			margin-left: 0px
			
	.book
		margin-top: 64px
		padding-top: 36px
		&-wrapper
			flex-direction: column
		&-text
			display: flex
			align-items: center
			flex-direction: column
			margin-bottom: 36px
		&__title
			display: flex
			flex-direction: column
			max-width: 100%
			text-align: center
			font-size: 32px
			line-height: 40px
			margin-bottom: 24px
		&__author
			font-size: 16px
			margin-bottom: 32px
		&__description
			max-width: 100%
			line-height: 23px
			text-align: center
			margin-bottom: 17px
		&-buttons
			width: 70%
		&-image
			width: 560px
			height: 667px
			&__img
				width: 350px
				height: 522px
		&__button
			width: 175px

	.other-book
		padding-top: 7px
		padding-bottom: 56px
		&-wrapper
			flex-direction: column
		&__title
			text-align: center
			margin-bottom: 46px
			font-size: 28px
			line-height: 36px
			&-month
				margin-bottom: 40px
		&__price
			text-align: center
			margin-bottom: 20px
			&-best
				margin-bottom: 14px
				text-align: left
		&__buy
			justify-content: center
			&-best
				justify-content: start
		&-more
			height: 48px

	.recommendation
		width: 100%
		margin-bottom: 56px
		&__item
			width: 100%
			height: 420px
			padding: 0px 18px
			flex-direction: column
			margin-top: 28px
			margin-bottom: 0px
			&:nth-child(n+2)
				display: none
		&__list
			width: 100%
			margin-bottom: -8px
		&__title
			max-width: 100%
			text-align: center
			font-size: 20px
			line-height: 24px
			margin-bottom: 12px
		&__img
			width: 175px
			height: 250px
			margin-top: -28px
			margin-bottom: 19px
		&__section
			max-width: 100%
			text-align: center
			margin-bottom: 16px
			font-size: 14px
			line-height: 20px

	.top
		&-wrapper
			width: 100%
			padding-top: 26px
			padding-left: 15px
		&__img
			width: 136px
			height: 200px
			margin-right: 14px
		&__item
			height: 200px
			justify-content: start
		&__title
			max-width: 350px
		&__link
			margin-top: 6px
			padding-top: 18px
			padding-bottom: 20px
	
	.horizontal
		&::first-line
			&__line
				margin-bottom: 55px

	.category
		padding-top: 52px
		padding-bottom: 140px
		&__title
			font-size: 18px
			max-height: 32px
		&__section
			font-size: 13px
			max-height: 23px
		&-button
			top: 109%
			bottom: 0 
			width: 48px
			height: 48px
			&--next
				left: 59%
				transform: translateX(-40%)
			&--prev
				left: 38%
				transform: translateX(-40%)
		&__img
			width: 35px
			height: 35px

	.unreleased
		padding-top: 44px
		padding-bottom: 130px
		&-slide
			width: 100%
			margin-right: 0px
			text-align: center
		&__title
			text-align: center
		&__img
			width: 300px
			height: 434px
		&-button
			top: auto
			bottom: -85px
			&--next
				right: 30%
			&--prev
				left: 30%
		&-button
			&__svg
				width: 48px
				height: 48px
				
	.story
		padding-top: 48px
		padding-bottom: 48px
		&-wrapper
			max-width: 510px
		&__text
			flex-direction: column
		&__title
			font-size: 28px
			line-height: 36px
			text-align: center
			margin-bottom: 24px
		&__description
			font-size: 18px
			line-height: 25px
			text-align: center
			margin-right: 0px
			margin-bottom: 35px
			max-width: 100%
		&__video
			&-main
				margin-top: 0px
				height: 210px
				margin-bottom: 18px
			&-one
				width: 100%
				height: 200px
				margin-bottom: 16px
			&-two
				width: 100%
				height: 200px
				margin-bottom: 16px

	.video
		&-play
			&-button
				width: 56px
				height: 56px
			&-white
				width: 21px
				height: 27px
				&-blue 
					width: 17px
					height: 22px
		&-title
			font-size: 16px
			line-height: 20px
		&-one
			width: 240px
		&-two
			width: 240px

	.video    
		&-head
			grid-template-columns: 100%
			grid-template-rows: 33% 33% 33%
			row-gap: 6px
		&-title
			font-size: 16px
			line-height: 20px
			justify-self: center
		&-description
			font-size: 12px
			line-height: 20px
			justify-self: center
			grid-row: 2
			grid-column: 1
		&-like
			cursor: pointer
			grid-row: 3
			grid-column: 1
			justify-self: center

	.partners
		&__item
			flex-basis: 30%
			&:nth-child(n+7)
				display: none

	.blog
		padding-top: 56px
		padding-bottom: 42px
		&-wrapper
			grid-template-columns: 510px
			grid-template-rows: 5% 50% 40% 5%
			row-gap: 0px
			column-gap: 0px
			justify-content: center
		&__title
			text-align: center
		&__all
			grid-row: 4
			grid-column: 1
			width: 159px
			height: 44px
			font-size: 14px
			line-height: 20px
			letter-spacing: 0.175px
		&-main
			width: 100%
			grid-row: 2
			grid-column: 1
			margin-top: 46px
			margin-bottom: 35px
			&__img
				height: 300px
				margin-bottom: 19px
			&__description
				font-size: 12px
				line-height: 24px
				padding: 0 0
				max-width: 100%
				max-height: 74px
			&__title
				padding: 0 0
				margin-bottom: 10px
		&-other
			grid-row: 3
			grid-column: 1
			margin-bottom: 25px
			&__item
				height: 110px
				margin-bottom: 31px
				flex-direction: row
				&:nth-child(2)
					margin-bottom: 31px
				&:last-child
					display: flex
			&__img
				width: 200px
				height: 110px
				margin-right: 20px
			&__info
				max-width: 300px
				padding: 0px 0px
			&__link
				font-size: 12px
			&__date
				font-size: 12px
				line-height: 20px
				margin-bottom: 5px
			&__title
				font-size: 16px
				line-height: 20px
				max-height: 42px
				margin-bottom: 15px

	.subscribe
		margin-bottom: 48px
		&-container
			width: 100%
			max-width: 100%
		&-wrapper
			border-radius: 0px
			flex-direction: column
			align-items: center
			padding-bottom: 28px
			justify-content: start
		&__title
			font-size: 25px
			line-height: 36px
			margin-bottom: 32px
			max-width: 90%
		&__button
			width: 130px
		&__form
			width: 447px

	.footer
		margin-bottom: 64px
		&-list
			display: grid
			grid-template-columns: 1fr 1fr
			grid-row-gap: 39px
		&-info
			display: block
			margin-bottom: 48px
			&__list
				margin-right: 0
			&__company
				width: fit-content
				text-align: center
		&__wrapper
			margin-bottom: 45px
	.modal
		&__dialog
			max-width: 100%
			max-height: 100%
			padding: 40px 90px
	.thenks
		&__title
			font-size: 25px
			margin-bottom: 60px
		&-wrapper
			margin-bottom: 100px
@media (max-width: 576px)
	.book
		&-image
			width: 280px
			height: 333px
			&__img
				width: 144px
				height: 215px
		&-buttons
			flex-direction: column
		&__button
			padding: 7px 10px
			font-size: 16px
			line-height: 22px
			&__buy
				&-now
					margin-bottom: 15px

	.recommendation
		&__item
			height: 312px
			padding: 0px 18px 32px 18px
		&__img
			width: 96px
			height: 137px

	.top
		&__item
			height: 142px
		&__title
			max-width: 110px
			font-family: Roboto Condensed
			max-height: 48px
			font-size: 16px
			line-height: 24px
			margin-bottom: 12px
		&__img
			width: 96px
			height: 142px
		&__list
			margin-bottom: 13px    

	.other-book
		&__price
			&-recommendation
				font-size: 16px
				line-height: 20px
		&-more
			&__button
				text-transform: none
		&__button
			&-recommendation
				width: 115px

	.container
		&-category
			max-width: 100%
			width: 91%

	.category
		padding-bottom: 144px
		&-slide
			width: 140px
			height: 182px
		&__item
			padding: 20px 13px 20px 13px
		&__title
			font-family: Roboto Condensed
			font-style: normal
			font-weight: bold
			font-size: 16px
			line-height: 20px
			text-align: center
			letter-spacing: 0.2px
			max-height: 42px
		&__section
			bottom: 20px
			font-size: 12px
			line-height: 20px
			max-height: 40px
			max-width: 80%
		&-button
			top: 109%
			bottom: 0 
			width: 48px
			height: 48px
			&--next
				left: 58%
				transform: translateX(-40%)
			&--prev
				left: 38%
				transform: translateX(-40%)
		&__img
			&-wrapper
				width: 36px
				height: 36px
				margin-bottom: 16px
	
	.unreleased
		&-container
			margin-top: 41px
		&__title
			font-size: 28px
			line-height: 36px
		&__img
			width: 206px
			height: 300px
					
	.story
		&-container
			width: 300px
		&-wrapper
			max-width: 300px
		&__description
			width: 283px
		&__text
			align-items: center

	.story
		&__video
			&-main
				background-image: url(../img/author-story/video-mobile-1.jpg)
			&-one
				height: 138px
				background-image: url(../img/author-story/video-mobile-2.png)
			&-two
				height: 138px
				background-image: url(../img/author-story/video-mobile-3.png)

	.video
		&-one
			width: 140px
		&-two
			width: 140px

	.video    
		&-like
			margin-top: 5px
			width: 10px
			height: 14px

	.partners
		padding-top: 37px
		padding-bottom: 32px
		&__list
			margin-top: 30px
		&__title
			line-height: 30px
			max-width: 275px
			margin: auto
		&__item
			flex-basis: 50%
			margin-bottom: 20px
		&__slack
			width: 99px
			height: 29px
		&__netflix
			width: 86px
			height: 23px
		&__fitbit
			width: 87px
			height: 23px
		&__google
			width: 86px
			height: 29px
		&__airbnb
			width: 86px
			height: 27px
		&__uber
			width: 87px
			height: 19px

	.blog
		&-wrapper
			grid-template-columns: 280px
			grid-template-rows: 5% 41% 46% 8%
		&__title
			font-size: 28px
			line-height: 36px
			text-align: center
		&-main
			&__img
				height: 120px
			&__title
				font-size: 16px
				line-height: 20px
		&-other
			grid-row: 3
			grid-column: 1
			margin-bottom: 41px
			&__item
				height: 90px
				margin-bottom: 31px
				flex-direction: row
				&:nth-child(2)
					margin-bottom: 31px
				&:last-child
					display: flex
			&__img
				width: 90px
				height: 90px
				margin-right: 18px
			&__info
				max-width: 170px
				padding: 0px 0px
			&__link
				font-size: 10px
			&__date
				font-size: 10px
				line-height: 20px
				margin-bottom: 5px
			&__title
				font-size: 14px
				line-height: 20px
				max-height: 42px
				margin-bottom: 5px

	.subscribe
		&-wrapper
			padding-top: 26px
			padding-left: 24px
			padding-right: 24px
			height: 306px
			max-height: 306px
			background-image: url(../img/subscribe/bg-form-mobile.jpg)
			align-items: start
			background-size: 100%
		&__title
			font-size: 28px
			line-height: 36px
			margin-bottom: 42px
			max-width: 210px
		&__form
			width: 100%
			height: 112px
			margin-top: 0px
		&__button
			width: 95%
			height: 42px
			top: auto
			right: 11px
			bottom: 12px
		&__input
			width: 100%
			height: 112px
			padding: 2px 10px 55px 48px

	
	.icon
		&-email
			&-send
				top: 20px
				left: 20px
				transform: translateY(0%)
	
	.modal
		&__wrapper
			height: calc(104vh - 142px)
		&__dialog
			min-width: 80%
			padding: 33px 50px
	.error-404
		&__button 
			width: 148px
			height: 41px
			padding: 7px 27px
		&__text 
			font-size: 14px
			text-align: center
			margin-bottom: 30px
		&__title-sub 
			font-size: 22px
			margin-bottom: 26px
		&_title 
			font-size: 36px
		&__img 
			width: 80px
			height: 80px
	.thenks
		&__title
			font-size: 22px
			text-align: center
		&__button
			height: 41px
			padding: 7px 27px
@media (max-width: 456px)
	.modal
		&__dialog
			min-width: 92%
			padding: 11px 45px
		&__button
			min-width: 100%
			max-height: 41px
			padding: 11px
		&__button 
			font-size: 14px
			line-height: 0
			margin-top: 20px
		&__wrapper 
			min-height: 345px
		&__input 
			width: 100%
			margin-top: 10px
			min-height: 25px
			max-height: 30px
			font-size: 13px
		&__message 
			width: 100%
			min-height: 50px
			margin-top: 10px
			font-size: 13px
		&__title
			font-size: 16px
		
	.subscribe
		&__button
			width: 92%
	.footer
		margin-bottom: 0
		&-info
			&__title
				margin-bottom: 15px
			&__item
				margin-bottom: 13px
			&__company
				bottom: 39px
		&__text
			margin-bottom: 13px
		&__logo
			margin-bottom: 11px
		&-list
			grid-row-gap: 23px
@media (max-width: 365px)
	.best
		&-wrapper
			width: 100%
		&__img
			width: 95px
			height: 142px
		&__title
			max-width: 109px
			max-height: 64px
			font-weight: 500
			font-size: 16px
			line-height: 22px
			margin-bottom: 14px
			padding-top: 9px
			font-family: Roboto Condensed
			font-style: normal
			font-weight: bold
		&__item
			grid-column-gap: 14px
			justify-content: normal
			height: 142px
			align-items: normal
		&__link
			padding-top: 38px
@media (max-width: 320px)
	.subscribe
		&-container
			height: 306px
			width: 320px
			max-width: 320px
		&__form
			width: 272px
			height: 112px
			margin-top: 0px
		&__button
			width: 250px
			height: 42px
			top: auto
			right: 11px
			bottom: 12px
		&__input
			width: 272px
			height: 112px
			padding: 2px 10px 55px 48px
	.menu
		&-button
			top: 24px
			right: 28px
	.other-book
		padding-bottom: 49px
	.category 
		padding-top: 54px