@media (max-width: 1200px)
  .container
    max-width: 900px
  .navbar
    &-top
      &__menu
        display: flex
        padding: 0
        margin-top: 14px
        margin-left: 350px
        gap: 15px

@media (max-width: 992px)
  .container
    max-width: 740px
  .navbar
    &-top
      &__menu
        display: flex
        padding: 0
        margin-top: 14px
        margin-left: 230px
        gap: 15px

@media (max-width: 768px)
  .container
    max-width: 550px
  .navbar
    &-top
      &__menu
        display: flex
        padding: 0
        margin-top: 14px
        margin-left: 50px
        gap: 10px

@media (max-width: 600px)
  .container
    max-width: 450px
    width: 87%
  .navbar
    &-top
      padding-top: 18px
      margin-left: -3px
      &__menu
        display: none
      &__button
        display: none
  .menu-button
    display: flex
    margin-top: 4px
    padding-left: 0px
    padding-top: 2px
    padding-right: 6px
    padding-bottom: 4px
    &__line
      width: 22px
