*
  box-sizing: border-box

.container
  max-width: 1140px
  margin: auto

.button
  color: $button-color-blue
  font-family: Open Sans
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 22px
  background-color: Transparent
  background-repeat: no-repeat
  border: 2px solid $button-color-blue
  overflow: hidden
  outline: none
  border-radius: 8px
  cursor: pointer
