.navbar
  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between
    padding: 36px 0

    &-menu
      display: flex
      align-items: center
      justify-content: space-between

  &__button
    border: 2px solid #1565d8
    border-radius: 8px
    text-align: center
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    padding: 11px 20px
    min-width: 148px
    color: #1565d8
    background-color: #fff
    margin-left: 65px

  &-menu
    list-style-type: none
    margin: 0
    display: flex
    align-items: center
    justify-content: space-between
    color: #183b56

    &__item
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      margin-right: 24px

      &:last-child
        margin: 0

    &__link
      color: inherit

.menu-button
  display: none

.logo
  &__link
    display: block

    &-img
      display: block
